<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login Form Tutorial</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="login-form">
      <img
        src="images/216a6479c6f7eaa0c08640550aa71bdb copy.jpg"
        width="300"
        height="300"
      />
      <% if(error !== "") {%>
      <p style="color: red"><%= error %></p>
      <% } %>
      <h1>Login Form</h1>
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <input type="submit" value="Log in" />
      </form>
      <h2><a href="/register">Register</a></h2>
    </div>
  </body>
</html>
