<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login Form Tutorial</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="login-form">
      <img
        src="images/216a6479c6f7eaa0c08640550aa71bdb copy.jpg"
        width="300"
        height="300"
      />
      <h1>Register Form</h1>
      <form action="/registerNew" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <input type="email" name="email" placeholder="Email" required />
        <input type="submit" value="Sign Up" />
      </form>
      <h2><a href="/login">Login</a></h2>
    </div>
  </body>
</html>
